<%-include('../cabecalho.ejs')%>
    <form method="post" enctype="multipart/form-data">
        artista: <input type="text" name="artista" 
            placeholder="Digite o nome do artista: " required ><br>
        album: <input type="text" name="album" 
            placeholder="Digite o nome do álbum: " required><br>
        dataLanc: <input type="date" name="dataLanc" 
            placeholder="Digite a data de lançamento: " required><br>
        numFaixas: <input type="number" name="numFaixas" 
            placeholder="Digite o número de faixas: " required><br> 
        foto: <input type="file" name="foto" 
            accept="image/*" required><br>
        <input type="submit" value="Salvar">
    </form>
<%-include('../rodape.ejs')%>